<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Бронировалка</title>
</head>
<body>
    <div>
        {% for hotel in hotels %}
            <div style="display:flex; margin-bottom: 10px; margin-left: 200px;">
                <img src="{{ url_for('static', path='images/' + hotel.image_id|string + '.webp') }}" alt="Фото отеля" width="600" height="400">
                <div>
                    <h1>{{ hotel.name }}</h1>
                    <h2>{{ hotel.location }}</h2>
                </div>
            </div>
        {% endfor %}
    </div>
</body>
</html>